.App {
  text-align: center;
  display: grid;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.board {
  background-color: pink;
  height: 50vh;
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr) ; 
 
}

.box {
  border: 1px solid green;
  background-color: papayawhip;
  color: black;
  border-radius: 10px;
  padding: 10px;
  font-size: 100%;
}

.box:nth-child(even) {
  background-color: #ccc;
  color: #000;
}